$primary-100: #b2976f;
$primary-200: #373737;
$primary-300: #555454;
$primary-400: #b0b0b0;
$primary-500: #fbe8d3;
$primary-grey: #747474;
$secondary-grey: #b4b4b4;
$tertiary-grey: #e1e1e1;
$secondary: #ff165d;
$blackish: #2d4059;
$grayWhite: #f6f6f6;
$primary-black: #1d1d1d;
$secondary-black: #1e1e1e;
$tertiary-black: #222222;
$zero-black: #000000;
$white: #ffff;
$hr-color: #d1d1d1;
$primary-green: #2ecc71;
