@import "./color.scss";
@import "./screens.scss";

.product-header {
	position: relative;
	height: 14.87rem;
	background-image: url("../assets//images/product-header.png");
	background-repeat: no-repeat;
	background-size: cover;

	&--overlay {
		position: absolute;
		top: 2rem;
		left: 2rem;
		padding: 2rem;
		background-color: $white;

		width: 35.93rem;
		height: 10.93rem;
	}

	@include screen("medium") {
		display: none;
	}
}

.single-product {
	.top {
		width: 100%;
		.img-holder {
			width: 50%;

			img {
				width: 31rem;
				height: 31rem;
			}

			@include maxScreen("medium") {
				width: 100%;
				img {
					width: 100%;
					height: 100%;
				}
			}
		}

		.details-holder {
			width: 50%;
			max-width: 100%;
			h3 {
				font-weight: 600;
				font-size: 3.5rem;
				line-height: 5rem;
				text-transform: capitalize;

				@include maxScreen("medium") {
					font-weight: 450;
					font-size: 2rem;
					line-height: 2.5rem;
				}
			}

			.title-desc {
				font-weight: 300;
				font-style: normal;
				font-weight: 0.8rem;
				line-height: 1.39rem;
				text-transform: capitalize;
				color: $secondary-black;
			}

			.color {
				font-size: 1rem;
				line-height: 1.375rem;
				color: #adadad;

				.color-ans {
					color: $secondary-black;
					text-transform: capitalize;
				}
			}

			.editors-note {
				margin-top: 1rem;
				font-weight: 400;
				font-size: 0.8rem;
				line-height: 1.39rem;
				color: $secondary-black;
			}

			@include maxScreen("medium") {
				width: 100%;
			}
		}
	}

	.may-like {
		.others {
			margin-top: 1rem;
			margin-bottom: 3rem;
			font-weight: 400;
			font-size: 0.8rem;
			line-height: 1.39rem;
			color: $secondary-black;
			margin-left: auto;
			margin-right: auto;
		}

		.other-card {
			padding-left: 8rem /* 80px */;
			padding-right: 5rem; /* 80px */
		}
	}
}
